
<app-header></app-header>
<div class="overlay" *ngIf="busy">
    <img src="../../../assets/images/glumbsp_logo.png" alt="GLUMBSP" class="loading col-12 col-md-1">
</div>
<div class="noticias contanier-fluid">
    <div class="noticias--inner container">
        <app-breadcumb></app-breadcumb>
        <h2 class="noticias--inner--title">Notícias</h2>
        <div class="noticias--inner--butons">
            <button [routerLink]="['/cadastros/noticias/0']" mat-raised-button class="noticias--inner--buttons--item"><mat-icon>add</mat-icon>Nova Notícia</button>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}}</td>
              </ng-container>
            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef> Titulo </th>
                <td mat-cell *matCellDef="let element"> {{element.titulo}}</td>
              </ng-container>
            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef> Data </th>
                <td mat-cell *matCellDef="let element"> {{element.dataPublicacao | date:"dd/MM/yyyy"}}</td>
              </ng-container>
            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element"> {{element.dataPblicacao}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns,true" updateStickyHeaderRowStyles></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>