.mob{
    &--menuMobile{
        display:none;
    }
}
.header{
    position: fixed;
    top:0;
    left:0;
    max-width: 100vw;
    background: #343e99;
    z-index: 99;
   // background: radial-gradient(circle, rgb(177, 246, 248) 0%, rgba(0, 213, 255, 0.445) 100%);
    padding: 6px 0;
    &--mobile{
        display:none;
    }
    &--inner{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        &--left{
            display: flex;
            column-gap: 16px;
            align-items: flex-end;
            &--logo{
                width:60px;
            }
            &--title{
                font-size: 18pt;
                line-height: 0;
                color:#fff;
            }
        }
        &--menu{
            display: flex;
            justify-content: flex-end;
            column-gap: 16px;
            &--item{
                padding-bottom: 0px;
                color: #fff!important;;
                margin-bottom: -6px;
                text-align:center;

            }
        }
        &--controls{
            display: flex;
            justify-content: flex-end;
            &--links{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;
            }
            &--foto{
                width:80px;
                height: 80px;
                border-radius: 50%;
            }
        }
        
    }
}
.hamburguer{
    display:none;
}
@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@media screen and (min-width:320px) and (max-width:767px){
    .hamburguer{
        display: flex;
        border: none;
        background-color: transparent;
        color:#fff;
        line-height: 0;
        margin-bottom: -8px;

    }
    .header{
       &--inner{
        &--menu{
            display:none;
            
        }
        &--controls{
            display:none;
        }
        &--left{
            justify-content: space-between;
            align-items: center;
            &--title{
                margin-bottom: -8px;
            }
        }
       }
    }
    .mob--menuMobile{
        width:100vw;
        height: 100vh;
        background: #343e99;
        position: fixed;
        z-index: 999;
        top: 0;
        left: -100%;
        transition: 0.5s ease-in-out ;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:24px;
        &--controls{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #fff;
            margin-bottom: 8px;
            padding-bottom: 24px;
            &--links{
                width:60%;
                display: flex;
                flex-direction: column;
                row-gap: 6px;
                &--item{
                    color: #fff!important;
                    text-decoration: none;
                    font-size: 12pt;
                    text-align: left;
                    display: flex;
                    justify-content: start;
                    padding: 0;
                }
            }

            &--foto{
                width:90px;
                height: 90px;
                border-radius: 50%;
            }
        }
        &--link{
            color:#fff;
            text-decoration: none;
            font-size: 14pt;
            border:none;
            background-color: transparent;
            border:none;
        }
        &--close{
            width:100%;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 24px;
            &--bt{
                border: none;
                background: none;
                color:#fff;
                font-size: 24px;
                cursor: pointer;
            }
        }
        &--item{
            width:100%;
            text-align: center;
            margin-top: 24px;
            font-size: 24px;
            line-height: 24px;
            color:#fff;
            text-decoration: none;
           
        }
        &--itemActive{
            width:100%;
            text-align: center;
            margin-top: 24px;
            font-size: 24px;
            color:#ffd500;
            text-decoration: underline;
        }
    
    }
}
::ng-deep .mat-expansion-panel-header-title,.linkDireto{
    justify-content: center;
    margin-right: 0!important;
    font-size: 16pt;
    color: #fff;
}
.linkDireto{
    display: flex;
    justify-content: center;
    margin-right: 0!important;
    font-size: 16pt;
    font-weight: 500;
    color: #fff;
}
::ng-deep .mat-expansion-panel,::ng-deep .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover{
    padding: 0;
    background-color: transparent;
    box-shadow: none!important;
}
::ng-deep .mat-expansion-panel-body {
     padding: 0!important ;
     row-gap: 8px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
::ng-deep .mat-content.mat-content-hide-toggle{
    margin-right: 0!important;
}
.mat-expansion-panel-spacing {
     margin: 0!important; 
}
::ng-deep .mat-expansion-panel-header.mat-expanded{
    height: 48px;
}