<div class="overlay" *ngIf="busy">
    <img src="../../../assets/images/glumbsp_logo.png" alt="GLUMBSP" class="loading col-12 col-md-1">
</div>
<div class="container-fluid corpo">
    <div class="container corpo--inner">
        <h1 class="corpo--inner--title">GRANDE LOJA UNIDA MAÇÔNICA DO BRASIL - SP</h1>
        <img src="../../../assets/images/glumbsp_logo.png" alt="GLUMBSP" class="col-12 col-md-1">
        <h2 class="corpo--inner--subtitle">Área Restrita</h2>
        <div class="col-12 col-md-4 corpo--inner--box mat-elevation-z5">
            <h3 class="corpo--inner--box--title">Efetue login para acessar a área restrita</h3>
            <form class="corpo--inner--box--form" [formGroup]="loginForm">
                <mat-form-field class="corpo--inner--box--form--input">
                    <mat-label>Usuário</mat-label>
                    <input matInput placeholder="Usuário" formControlName="cpf" name="cpf">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Senha</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="pass" name="pass">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Esconder Senha'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <div class="corpo--inner--box--form--btns">
                    <button mat-raised-button color="primary" class="corpo--inner--box--form--btns--entrar" [disabled]="!loginForm.valid" (click)="login()">Entrar</button>
                    <button mat-raised-button class="corpo--inner--box--form--btns--limpar" (click)="limpar()">Limpar</button>
                  </div>
            </form>
        </div>
    </div>
</div>