<app-header></app-header>
<div class="overlay" *ngIf="busy">
    <img src="../../../assets/images/glumbsp_logo.png" alt="GLUMBSP" class="loading col-12 col-md-1">
</div>
<div class="home contanier-fluid">
    <div class="home--inner container">
        <h1 class="nomeMacom">Documentos do Ir.'. {{nomeIrmao}}</h1>
        <div class="livros">
            <div class="livros--buttons">
                <a [routerLink]="['/cadastros/macons']" mat-raised-button class="livros--buttons--btn">Voltar</a>
                <button mat-raised-button class="livros--buttons--btn" (click)="seleciona('ver')">Ver Documentos</button>
                <button mat-raised-button class="livros--buttons--btn" (click)="seleciona('cadastrar')" [disabled]="!currentUser.isAdmin">Upload Documentos</button>
                
            </div>
            <div class="livros--lista" *ngIf="selecionadoVer">
                <h2 class="livros--lista--title">Documentos Cadastrados</h2>
                <a *ngFor="let documento of listaDocumentos" href="{{documento.link}}" download target="_blank"class="livros--lista--link">{{documento.nome.toUpperCase()}}&nbsp; <mat-icon  fontIcon="    menu_book"></mat-icon></a>

            

            </div>
            <div class="livros--lista" *ngIf="selecionadoCadastrar">
                <h2 class="livros--lista--title">Enviar Documento</h2>
               
                <div class="col-12"><button mat-raised-button class="input col-12 col-md-4" (click)="escolheDoc()">{{textoDoc}}</button>
                 <input type="file" id="input-file" (change)="onFileChange($event)" style="display: none;"/>
                 <button mat-raised-button class="salvar col-12 col-md-4" (click)="salvar()" ><mat-icon>save</mat-icon>Salvar</button>
              

            </div>
            
        </div>
    </div>

</div>
