<app-header></app-header>
<div class="overlay" *ngIf="busy">
    <img src="../../../assets/images/glumbsp_logo.png" alt="GLUMBSP" class="loading col-12 col-md-1">
</div>
<div class="noticia contanier-fluid">
    <div class="noticia--inner container">
        <app-breadcumb></app-breadcumb>
        <h2 class="noticia--inner--title">Notícia</h2>
        <div class="noticia--inner--box col-12">
            <form class="noticia--inner--box--form" [formGroup]="noticiaForm">
                <mat-form-field class="noticia--inner--box--form--input col-12">
                    <mat-label>Titulo</mat-label>
                        <input matInput placeholder="Titulo" formControlName="titulo" name="titulo">
                </mat-form-field>

                <mat-form-field class="noticia--inner--box--form--input col-12">
                    <mat-label>Nome</mat-label>
                    <textarea matInput placeholder="Escreva o texto da notícia" formControlName="texto" name="texto" rows="10"></textarea>
                </mat-form-field>
                <img src="{{foto}}" alt="Foto Noticia" *ngIf="foto!=''" class="col-12 col-md-4  previa">
                <button mat-raised-button class="input col-12 col-md-4" (click)="escolheFoto()"><mat-icon>image</mat-icon>{{textoFoto}}</button>
                <input type="file" id="input-file" (change)="onFileChange($event)" style="display: none;"/>
                <button mat-raised-button class="salvar col-12 col-md-4" (click)="salvar()" [disabled]="!noticiaForm.valid"><mat-icon>save</mat-icon>Salvar</button>
            </form>
        </div>
    </div>
  
</div>
